@model MovieStore.Core.Entities.Movie
<div class="col-6 cl-lg-3 col-sm-4 col-xl-2">
    <a href="/movie/@Model.Id">
        <img src="@Model.PosterUrl" class="img-fluid" alt="@Model.Title" />@*//大写的Model用来代表第一行，不管第一行是啥。*@
    </a>
</div>

